.containersign{
  position: relative;
  float:none;
  display:block;
  width:300px;
  height:auto;
  margin:0 auto;
}
.loginusr {
    position: relative;
    float: none;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    width: 400px;
    min-height: 300px;
    margin: 0 auto;
    margin-top:40px;
}
.inlineelement {
    position: relative;
    float: none;
    display:inline;
}
.inlinefder {
    position: relative;
    float:right;
    display:inline;
}
.imgcat{
  height:30px;
  width:30px;
  cursor: pointer;
  z-index: 2000;
}
.separador{
  clear:both;
    position: relative;
    float:none;
    display:block;
    margin-top:20px;
}
.separadorp{
  clear:both;
    position: relative;
    float:none;
    display:block;
    margin-top:5px;
}
.separadorh{
    position: relative;
    float:none;
    display:inline;
    padding-right:20px;
    padding-left:10px;
}
.md-button{
  color: rgb(255,255,255);
}
.md-button2{
  color: rgb(0,0,0);
}

md-content{
  background:none;
}

form md-content {
  margin-left: 50px;
  background:none;
}

md-content md-content{
  margin-left: 20px;
  background:none;
}
md-toast{
  position: fixed;
}
html,body{
  background:url(/fabric_1.png);
  background-repeat:repeat;
}

.fotoredondeada{
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
md-radio-button {
    box-sizing: border-box;
    display: inline-block !important;
    margin-bottom: 16px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    padding-right: 10px !important;
}
.odd{
    background: rgba(243,243,243,.85);
  color: #222;
}
.even{
  color: #222;
  background: rgba(255,255,255,.9);
}
.odd:hover{
    color: #222;
  background:#eee;
}
.even:hover{
  background: rgba(243,243,243,.85);
  color: #eee;
}
.tituloh{
  font-weight: bolder;
}
md-icon{
  font-size: 20px !important;
  padding-left:2px;
  padding-right:2px;
}